.skill{
   width: 40%;
   position: absolute;
   top: 220%;
   left: 20%;
   color: rgb(110, 57, 32);
   transform: translate(-50%,-50%);
   padding: 20px;
   box-sizing: border-box;
 
}

.box{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    top: 10%;
    transition: all.8s ease-out;
}

.box:hover{
    transition: all.8s ease-out;
    transform: rotate3d(90edg);
}
.box p{
    color: black;
    text-transform: uppercase;
    margin: 10px;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}
.skilll{
    background:  rgba(214, 169, 118, 0.8);
    padding: 4px;
    box-sizing: border-box;
    border: 3px solid seashell;
    border-radius: 10px;
}

.skill-level{
    background: rgb(110, 57, 32);
    border-radius: 10px;
    width: 100%;
    height: 10px;
}
.title{
    position: absolute;
    top:215px;
    left: -15%;
    font-size: 30px;
    padding: 10px;
    border: 5px solid seashell;
    border-style: dashed;
    border-radius: 10px;
    letter-spacing: 2px;
    color: rgb(110, 57, 32);
    transition: all .5s ease-out;
}
.title:hover{
    color: white;
    transform: rotate(10deg);
}
