body{
    overflow-x: hidden;
    background-attachment: fixed;
    
}
.a
{
    position: absolute;;
	left: 12.5%;
    top: 3%;
    bottom: 65%;
    width: 75%;
    background-color: rgba(214, 169, 118, 0.8);
    border-radius: 20px;
    float: left;
}
.me{
    width: 18%;
	position: absolute;
    top: 6%;
    left: 5%;
	display: block;
	margin: auto;
    transition: all .15s ease-out;
    transform:scale(1,1);
    opacity: 1.0;
	
}
.me:hover{
    opacity: 1.0;
	transform:scale(1.1,1.1);
}
.out{
    width: 220px;
    height: 220px;
    position: absolute;
    top:7px;
    left: 50px;
	display: block;
	margin: auto;
}
.name{
    text-align: left;
    font-size: 50px;
    color:rgb(110, 57, 32);
	position: relative;
    left: 30%;
  
}

.ename{
    text-align: left;
	font-size: 15px;
	position: relative;
    top: -2%;
    left: 33%;
	color: antiquewhite;
	font-weight: bold;
}
.birth{
    text-align: left;
	font-size: 20px;
	position: relative;
    top: 3%;
    left: 32%;
	color: sienna;
	font-weight: bold;
}
.bpic{
    width: 20px;
    height: 20px;
    position: absolute;
    left: -32px;
	display: block;
	margin: auto;
    
}
.add{
    text-align: left;
	font-size: 20px;
	position: relative;
    top: 5%;
    left: 31%;
	color: sienna;
	font-weight: bold;
}
.addpic{
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
	display: block;
	margin: auto;
}
.level{
    text-align: left;
	font-size: 20px;
	position: relative;
    top: 6%;
    left: 28%;
	color:black;
	font-weight: bold;
}
.motto{
    text-align: left;
    color: rgb(110, 57, 32);
    font-size: 25px;
    position: relative;
    top: 1cm;
    left: 55%;
    transition: all.8s ease-out;
}
.motto:hover{
    transform: rotate3d(90edg);
}

.b
{
	display: inline;
	position: relative;
    left: 55%;
	bottom: 2.5cm;
}
.b img
{
	transform:scale(1,1);
	transition: all 1s ease-out;	
}
.b img:hover
{
	transform:scale(1.2,1.2);
}
.title2{
    position: absolute;
    top:215px;
    left: 40%;
    font-size: 30px;
    padding: 10px;
    border: 5px solid seashell;
    border-style: dashed;
    border-radius: 10px;
    letter-spacing: 2px;
    color: rgb(110, 57, 32);
    transition: all .5s ease-out;
}
.title2:hover{
    color: white;
    transform: rotate(10deg);
}
.c{
    position: absolute;
	left: 12.5%;
    top: 20%;
    bottom: 65%;
    width: 75%;
    border-radius: 20px;
    float: left;
    transition: .8s ease-out;
}
.container {
    position:absolute;
    width: 40%;
    top: 835%;
    left: 45%;
    margin: 10px;
    
}
  
.image{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
  
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: antiquewhite;
    border-radius: 10px;
}
  
.container:hover .overlay{
    opacity: 1;
  }
  
.text{
    padding: 30px;
    color: sienna;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}
.container1 {
    position:absolute;
    width: 30%;
    top: 1445%;
    left: 75%;
    margin: 10px;
    
}
  
.image1{
    display: block;
    width: 330px;
    height: 200px;
    border-radius: 10px;
    
}
  
.overlay1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 330px;
    opacity: 0;
    transition: .5s ease;
    background-color: antiquewhite;
    border-radius: 10px;
}
  
.container1:hover .overlay1{
    opacity: 1;
  }
  
.text1{
    padding: 30px;
    color: sienna;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}
.hr{
    size: 10px;
    width: 60%;
    position: absolute;
    top: 1410%;
    left: 50%;
}

.arrow{
    width: 28%;
    position: absolute;
    top: 7.5cm;
    left: 90%;
    transition: all 1s ease-out;
}
.arrow:hover{
    transform:scale(1.2,1.2);

}

.arrow2{
    width: 28%;
    position: absolute;
    top: 14cm;
    left: 45%;
    transition: all 1s ease-out;
}
.arrow2:hover{
    transform:scale(1.2,1.2);

}
.d{
    width: 1200px;
    height: auto;
    position: absolute;
	left: 12.5%;
    top: 20%;
    bottom: 65%;
    width: 75%;
    border-radius: 20px;
    float: left;
    transition: .8s ease-out;
}
.title3{
    position: absolute;
    top:20cm;
    left: -15%;
    font-size: 30px;
    padding: 10px;
    border: 5px solid seashell;
    border-style: dashed;
    border-radius: 10px;
    letter-spacing: 2px;
    color: rgb(110, 57, 32);
    transition: all .5s ease-out;
}
.title3:hover{
    color: white;
    transform: rotate(10deg);
}
.main {
    max-width: 1000px;
    margin: auto;
  }
  
  
  
.row {
    width: 1200px;
    margin: 8px 16px;
    position: absolute;
    top: 21cm;
    left: -5cm;

  }
  

  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    position: relative;
    padding: 20px;
    float: left;
    width: 25%;
    left: 50px;
    margin: 30px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .content {
    
    padding: 10px;
  }
  
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .pic{
    transition: all 1s ease-out;
  }
  .pic:hover{
    transform:scale(1.2,1.2);
  }