.a
{
    position: absolute;
	left: 12.5%;
    top: 3%;
    bottom: 65%;
    width: 75%;
    background-color: rgba(214, 169, 118, 0.8);
    border-radius: 20px;
    float: left;
}
.me{
    width: 18%;
	position: absolute;
    top: 6%;
    left: 5%;
	display: block;
	margin: auto;
    transition: all .15s ease-out;
    transform:scale(1,1);
    opacity: 1.0;
	
}
.me:hover{
    opacity: 1.0;
	transform:scale(1.1,1.1);
}
.out{
    width: 220px;
    height: 220px;
    position: absolute;
    top:7px;
    left: 50px;
	display: block;
	margin: auto;
}
.name{
    text-align: left;
    font-size: 50px;
    color:rgb(110, 57, 32);
	position: relative;
    left: 30%;
  
}

.ename{
    text-align: left;
	font-size: 15px;
	position: relative;
    
    left: 33%;
	color: antiquewhite;
	font-weight: bold;
}
.birth{
    text-align: left;
	font-size: 20px;
	position: relative;
    
    left: 32%;
	color: sienna;
	font-weight: bold;
}
.add{
    text-align: left;
	font-size: 20px;
	position: relative;
    
    left: 30%;
	color: sienna;
	font-weight: bold;
}
.level{
    text-align: left;
	font-size: 20px;
	position: relative;
    top: 5%;
    left: 28%;
	color:black;
	font-weight: bold;
}
.motto{
    text-align: left;
    color: rgb(110, 57, 32);
    font-size: 25px;
    position: relative;
    top: 20%;
    left: 55%;
    transition: all.8s ease-out;
}
.motto:hover{
    transform: rotate3d(90edg);
}

.b
{
	display: inline;
	position: relative;
    left: 55%;
	bottom: 2.5cm;
}
.b img
{
	transform:scale(1,1);
	transition: all 1s ease-out;	
}
.b img:hover
{
	transform:scale(1.2,1.2);
}
.title2{
    position: absolute;
    top:215px;
    left: 40%;
    font-size: 30px;
    padding: 10px;
    border: 5px solid seashell;
    border-style: dashed;
    border-radius: 10px;
    letter-spacing: 2px;
    color: rgb(110, 57, 32);
    transition: all .5s ease-out;
}
.title2:hover{
    color: white;
}
.c{
    position: absolute;
	left: 12.5%;
    top: 20%;
    bottom: 65%;
    width: 75%;
    border-radius: 20px;
    float: left;
    transition: all.8s ease-out;
}
