@media (max-width:1250px){
    .container{
        width: auto;
        height: auto;
        display: contents;
    }
    .left{
        width: 80%;
        margin: auto;
        margin-bottom: 2%;
    }

    .right{
        margin: auto;
        width: 80%;
        
    }
    .pic{
        width: 40%;
        
    }
    .name{
        width: 60%;
    }
    .education ul{
        padding-left: 0;
   }
   
    
}

@media (max-width:600px){
  
    .container{
        width: auto;
        height: auto;
        display: contents;
    }
    .left{
        width: auto;
        flex-direction: column;
        margin-bottom: 3%;
    }
    .a h2{
        font-size: 18px;
    }
    
    .a span{
        font-size: 12px;
    }
    .first{
        flex-direction: row;
    }
    .pic{
        width: 50%;
    }
    .right{
        display: contents;
        padding-left: 0;
    }
   .education{
        height: auto;
        flex-direction: column;

   }
   .education ul{
        padding-left: 0;
   }
   .skill{
        height: auto;
   }
   .cc{
        height: auto;

    
   }

}